<template>
  <div class="hello">
    <h1>{{ $vlang.get("projectName") }}</h1>
    <p>
      {{ $vlang.get("pages.home.projectLinkDescription") }}
      <a
        href="https://gitlab.com/TecHoof/v-lang-plugin"
        target="_blank"
        rel="noopener">v-lang-plugin</a>

      {{ $vlang.get("pages.home.documentation") }}.
    </p>
  </div>
</template>

<script>
export default {
  name: "HelloWorld"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
